.window {
  display: flex;
  background-color: rgb(6, 5, 8);
  box-sizing: border-box;
  min-height: 100vh;
}

.sidebar {
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 7px dotted rgba(150, 150, 150, 0.986);
  background-color: rgba(155, 153, 185, 0.5);
  
}

.centerArea {
  
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardForm {
  list-style: none;
  display: flex;
   flex-direction: column;
   align-items: center; 
  border: black solid 1px;
  margin-bottom: 10px;
 background-color: white;
 padding: 8px;
 }